<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.alto.mover"
    version="0.1.0">

    <name>Mover</name>
    <description>SFTP Plugin</description>

    <asset src="www/mover.js" target="js/mover.js"/>

    <js-module src="www/mover.js" name="mover">
        <clobbers target="mover" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mover">
                <param name="android-package" value="com.alto.mover.Mover"/>
            </feature>
        </config-file>

        <source-file src="src/android/Mover.java" target-dir="src/com/alto/mover" />
        <source-file src="lib/android/jsch-0.1.51.jar" target-dir="libs" />

     </platform>
</plugin>
